.login {
    .card {
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    }

    .btn-login {
        width: 100%;
    }

    .link-register {
        float: right;
    }
}
