.room-component {
    .user-count {
        margin-top: 5px;
    }
    .delete-btn {
        margin-left: 25px;
    }
    .join-btn {
        margin-left: 20px;
    }
    .paragraph {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 295px;
        height: 50px;
        word-wrap: break-word;
        white-space: pre-wrap;
        padding-right: 10px;
    }
}
