.room-list {
    .card {
        border-radius: 10px;
        height: 200px;
        margin: 20px;
        width: 330px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    }

    .create-btn-text {
        margin-left: 20px;
        font-weight: bold;
        font-size: 17px;
    }

    .plus-btn {
        margin-left: 10px;
    }
}
