.room {
    border-radius: 10px;
    background: #fff;
    width: 85vw;
    height: 90vh;

    .title {
        align-self: center;
        margin-top: 30px;
    }

    .video-container {
        margin-left: 8px !important;
        margin-right: 8px !important;
    }
}
