.room-list {
    .title {
        align-self: center;
        margin-top: 30px;
        text-align: center;
    }

    .card {
        border-radius: 10px;
        height: 250px;
        margin: 20px;
        width: 265px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    }

    .paragraph {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 240px;
        height: 90px;
        word-wrap: break-word;
        white-space: pre-wrap;
        padding-right: 20px;
    }

    .create-btn-text {
        margin-left: 20px;
        font-weight: bold;
        font-size: 17px;
    }

    .plus-btn {
        margin-left: 10px;
    }
}
