.room-component {
    .user-count {
        margin-top: 5px;
    }
    .delete-btn {
        margin-left: 25px;
    }
    .join-btn {
        margin-left: 20px;
    }
    .paragraph {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 295px;
        height: 45px;
        word-wrap: break-word;
        white-space: pre-wrap;
        padding-right: 10px;

        &.no-description {
            height: 38px;
            color: rgba(0, 0, 0, 0.25);
        }
    }
}
