.common {
    border-radius: 15px;
    background: #fff;
    overflow: auto;
    padding: 20px;

    .title {
        align-self: center;
        margin-top: 10px;
        margin-bottom: 40px;
    }
}
