.common {
    // width: 87vw;
    // height: 8vh;
    border-radius: 15px;
    background: #fff;

    .title {
        align-self: center;
        margin-top: 30px;
        margin-bottom: 40px;
    }
}
